/* src/app/features/admin/surveys/section-editor-dialog/section-editor-dialog.component.scss */
.section-editor-dialog {
  .form-row {
    margin-bottom: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .saving-indicator {
    margin-top: 16px;
  }
}